# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
binary_setups/PyMuPDF-1.14.2-py27-x64.zip
binary_setups/PyMuPDF-1.14.2-py27-x64.zip
binary_setups/PyMuPDF-1.14.2-py27-x86.zip
binary_setups/PyMuPDF-1.14.2-py34-x64.zip
binary_setups/PyMuPDF-1.14.2-py34-x86.zip
binary_setups/PyMuPDF-1.14.2-py35-x64.zip
binary_setups/PyMuPDF-1.14.2-py35-x86.zip
binary_setups/PyMuPDF-1.14.2-py36-x64.zip
binary_setups/PyMuPDF-1.14.2-py36-x86.zip
binary_setups/PyMuPDF-1.14.2-py37-x64.zip
binary_setups/PyMuPDF-1.14.2-py37-x86.zip
